.container {
  display: grid;
  padding-top: 2rem;
  grid-template-columns: 33% 33% 33%;
}

.table-one {
  display: grid;
  grid-template-columns: repeat(3, 5rem);
  grid-template-rows: repeat(13, 5rem);
  grid-gap: 1rem;
  width: 100px;
}

.bet {
  border-left: 4px solid white;
  border-top: 4px solid white;
  width: 3em;
  height: 3em;
  color: white;
  font-size: 2em;
  text-align: center;
  padding-top: 30px;
}

.bet:hover {
  cursor: pointer;
}

.bg-red {
  background-color: red;
}

.bg-black {
  background-color: black;
}

.third-1,
.third-2,
.third-3 {
  border-bottom: 4px solid white;
}

.table-two {
  display: grid;
  grid-template-columns: repeat(1, 100px);
  grid-template-rows: repeat(3, 380px);
  justify-content: left;
  align-items: left;
}

.bet-dozen {
  border: 4px solid white;
  width: 3em;
  height: 12.06em;
  color: white;
  font-size: 2em;
  text-align: center;
}

.bet-dozen:hover {
  cursor: pointer;
}

.table-three {
  display: grid;
  grid-template-columns: repeat(1, 100px);
  grid-template-rows: repeat(6, 190px);
  align-items: center;
}

.bet-half {
  border: 4px solid white;
  width: 3em;
  height: 6.03em;
  color: white;
  font-size: 2em;
  text-align: center;
}

.bet-half:hover {
  cursor: pointer;
}

.half-red {
  background-color: red;
}

.half-black {
  background-color: black;
}
