.container {
  display: grid;
  padding-top: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  width: 0;
}

.table-one {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(13, 100px);
}

.bet {
  border-left: 4px solid white;
  border-top: 4px solid white;
  color: white;
  font-size: 2em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bet:hover {
  cursor: pointer;
}

.bg-red {
  background-color: red;
}

.bg-black {
  background-color: black;
}

.third-1,
.third-2,
.third-3 {
  border-bottom: 4px solid white;
}

.table-two {
  display: grid;
  grid-template-columns: repeat(1, 100px);
  grid-template-rows: repeat(3, 380px);
  height: 100%;
}

.bet-dozen {
  border: 4px solid white;
  height: 12.06em;
  color: white;
  font-size: 2em;
  text-align: center;
}

.bet-dozen:hover {
  cursor: pointer;
}

.table-three {
  display: grid;
  grid-template-columns: repeat(1, 100px);
  grid-template-rows: repeat(6, 190px);
  height: 100%;
}

.bet-half {
  border: 4px solid white;
  width: 3em;
  height: 6.03em;
  color: white;
  font-size: 2em;
  text-align: center;
}

.bet-half:hover {
  cursor: pointer;
}

.half-red {
  background-color: red;
}

.half-black {
  background-color: black;
}
